    @model IEnumerable<Tangy.Models.Author>
    @{
        ViewData["Title"] = "Author";
    }

    <h2>Index</h2>

    <p>
        @Html.Partial("_CreateButtonPartial")
    </p>
    <div class="form-border">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>                   
                    <th>
                       Book
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Books.FirstOrDefault().Name)
                    </td>
                    <td>
                        @Html.Partial("_TableButtonPartial", item.Id)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

