@model IEnumerable<Tangy.Models.Book>
@{
    ViewData["Title"] = "Book";
}

<h2>Index</h2>


<p>
    @Html.Partial("_CreateButtonPartial")
</p>
<div class="form-border">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BookId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>               
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author.FirstName)
                    </td>
                   
                    <td>
                        @Html.Partial("_TableButtonPartial", item.BookId)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>